@font-face{
	font-family: 'raleway-light';
	src: url(../font/Raleway-Light.ttf);
}

@font-face{
	font-family: 'raleway-regular';
	src: url(../font/Raleway-Regular.ttf);
}

@font-face{
	font-family: 'raleway-bold';
	src: url(../font/Raleway-Bold.ttf);
}

@font-face{
	font-family: 'raleway-black';
	src: url(../font/Raleway-Black.ttf);
}

@font-face{
	font-family: 'pacifico-regular';
	src: url(../font/Pacifico-Regular.ttf);
}

@-ms-viewport{width:auto!important}

.no_padding {
	padding: 0;
}

/* ------------------------ SECTION HOME ------------------------ */

#home {
	background-image: url('../images/bg_header.jpg');
	background-color: #f9f8fb;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center top;
	height: 100vh; 
	background-size: cover;
}

.navbar {
	background-color: transparent;
	transition: all 2s ease 0s; 
  	-webkit-transition: all 2s ease 0s;
}

nav .navbar-brand {
	padding-top: 50px;
	padding-bottom: 45px;
	height: 100%;
	transition: all 0.3s ease 0s; 
  	-webkit-transition: all 0.3s ease 0s;
}

#menu {
	font-family: 'raleway-bold';
	text-transform: uppercase;
	font-size: 16px;
	padding-top: 49px;
	transition: padding 0.3s ease 0s; 
  	-webkit-transition: padding 0.3s ease 0s;
	
}

#menu > ul > li > a {
	color: #262626;
	padding: 9px 0 9px 0px;
	margin: 6px 15px 15px 23px;
}

#menu > ul > .active > a::before, #menu > ul> li > a:hover::before {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: -1%;
    height: 3px;
    width: 102%;
    background-color: #ff6033;
}

 #menu > ul> li > a:hover,  #menu > ul> li > a:focus {
    background-color: transparent;
}

.navbar_top {
	background: #fff;
	height:80px;
	transition: all 0.3s ease 0s; 
  	-webkit-transition: all 0.3s ease 0s;
}

.navbar_top .navbar-brand {
	padding-top:13px;
	transition: all 0.3s ease 0s; 
  	-webkit-transition: all 0.3s ease 0s; 
}

.navbar_top #menu {
	padding-top: 20px;
	transition: padding 0.3s ease 0s; 
  	-webkit-transition: padding 0.3s ease 0s;
}

.button_nav {
	float:right;
	z-index:1000;
	margin-top:2px;
	margin-right:15px;
	background-color:#fff ;
	color:#262626 ;
	border: none ;
	font-size:20px ;
	padding-left: 14px ;
	padding-right: 14px ;
	padding-top: 12px ;
	border-radius: 0px;
}

#home h1 {
	font-family: 'raleway-black';
	font-size: 60px;
	color: #262626;
	padding-top: 350px;
	margin: 0;
}



#home p {
	font-family: 'raleway-regular';
	font-size: 17px;
	line-height: 27px;
	padding-top: 17px;
}

.button {
	font-family: 'raleway-light';
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
	padding: 13px 0;
	border: none;
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.5);
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,.5);
	box-shadow: 0 2px 5px rgba(0,0,0,.5);
	text-align: center;
}

#home .button {
	background: #ff6033;
	width: 200px;
	margin-top: 18px;
}

.scroll_img {
	position: fixed;
	bottom: 60px;
	left: 0;
  	right: 0;
	transition: opacity 2s ease 0s; 
  	-webkit-transition: opacity 2s ease 0s;
	animation: scroll_img 2s infinite;
	border: 2px solid transparent;
    border-radius: 40px;
	
}

@keyframes scroll_img {
    50% {
		border: 2px solid #ff6033; 
		padding: 5px;
		border-radius: 40px; 
		box-shadow: 0px 0px 10px #d0d0d0;
	}
}

.hidden_scroll {
	opacity: 0;
	transition: opacity .2s ease 0s; 
  	-webkit-transition: opacity .2s ease 0s;
}


/* ------------------------ SECTION ABOUT ------------------------ */

#about {
	height: 700px;
	background: #00b1b1;
}

#about h1 {
	font-family: 'raleway-bold';
	font-size: 90px;
	color: #fff;
	line-height: 27px;
	margin-top: 200px;
	margin-bottom: 45px;
}

#about p {
	font-family: 'raleway-light';
	font-size: 17px;
	color: #fff;
	line-height: 27px;
}

#about img {
	
	padding-top: 30px;
	margin-left: -40px;
}

#about .img-responsive {
	min-width: 111%;
}

/* ------------------------ SECTION SERVICES ------------------------ */

#services .services_button {
	width: 400px;
	height: 100px;
	background-color: #fff;
	-webkit-box-shadow: 0 4px 10px rgba(0,0,0,.5);
	-moz-box-shadow: 0 4px 10px rgba(0,0,0,.5);
	box-shadow: 0 4px 10px rgba(0,0,0,.5);
	margin-bottom: 20px;
}

#services .services_button > p {
	font-family: 'raleway-bold';
	font-size: 20px;
	line-height: 27px;
	color: #262626;
	padding-top: 38px;
	width: 300px;
	height: 100px;
	vertical-align: middle;
	text-align: center;
	
}

#services > div > div > a:nth-child(3) > div > p {
	padding-top: 25px;
}

#services .services_button > img {
	padding-right: 26px;
	padding-top: 25px;
}

#services .services_button::before {
	content: " ";
	display: block;
	position: absolute;
	height: 100px;
	width: 1px;
	right: 90px;
	background: #9d9d9d;
}

#services {
	height: 790px;
	background-color: #70bfff;
}

#services > div > div:nth-child(2) {
	margin-top: 179px;
}

#services > div > div:last-child {

	margin-top: 100px;
}

#services > div > div:last-child > p {
	font-family: 'raleway-bold';
	font-size: 90px;
	color: #fff;
	position: absolute;
	width: 550px;
	right: 0;
	top: 200px;
}

#services > div > div:last-child > img {
	margin-left: 25px;
}

/* ------------------------ SECTION GALLERY ------------------------ */


#gallery {
	background-color: #ffe92f;
	height: auto;
	padding-bottom: 100px;
}

#gallery h1 {
	font-family: 'raleway-bold';
	font-size: 90px;
	line-height: 27px;
	color: #262626;
	margin-top: 120px;
}

#gallery p {
	font-family: 'raleway-light';
	font-size: 17px;
	line-height: 27px;
	color: #262626;
	margin-top: 60px;
	margin-bottom: 50px;
}

#gallery img  {
	-webkit-box-shadow: 0 4px 10px rgba(0,0,0,.5);
	-moz-box-shadow: 0 4px 10px rgba(0,0,0,.5);
	box-shadow: 0 4px 10px rgba(0,0,0,.5);
}

#gallery > div > div:nth-child(2) > div:nth-child(2) > a:last-child > img {
	margin-top: 30px;
}

#gallery > div > div:nth-child(3)  {
	margin-top: 30px;
}

#gallery .button {
	background-color: #5585a2;
	width: 200px;
	margin-top: 50px;
}

#gallery .more {
	margin-top: 30px;
	display: none;
}

/* ------------------------ SECTION SUBSCRIBE ------------------------ */

#subscribe {
	background-image: url('../images/bg_subscribe_1.jpg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center right 18%;
	height: auto;
	padding-bottom: 120px;
}

#subscribe h1 {
	font-family: 'raleway-bold';
	font-size: 40px;
	line-height: 37px;
	color: #262626;
	margin-top: 150px;
}

#subscribe p {
	font-family: 'raleway-light';
	font-size: 17px;
	line-height: 27px;
	color: #262626;
	margin-top: 25px;
}


#subscribe form {
	margin-top: 20px;
}

#subscribe form input{
	width: 100%;
	height: 55px;
	border: 1px solid #262626;
	padding: 15px 23px;
	font-family: 'raleway-light';
	font-size: 15px;
}

#subscribe button {
	background: #96b92c;
	width: 170px;
}

/* ------------------------ SECTION BLOG ------------------------ */

#blog {
	background-color: #b07cf7;
	height: auto;
	padding-bottom: 100px;
	}

#blog h1 {	
	font-family: 'raleway-bold';
	font-size: 90px;
	line-height: 25px;
	color: #fff;
	margin-top: 120px;
}

#blog > div > div > p {	
	font-family: 'raleway-light';
	font-size: 17px;
	line-height: 25px;
	color: #fff;
	margin-top: 60px;
}

#blog div > .row > a > div{
	height: 310px;
	width: 370px;
	padding: 15px;
	margin: 40px 15px 0px 15px;
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.5);
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,.5);
	box-shadow: 0 2px 5px rgba(0,0,0,.5);
	background-position: center;
	background-size: 100%;
    transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;	
}

#blog div > .row > a > div:hover {
    background-size: 110%;
	background-position: center;
}

#blog div > .row > a > div:hover::after {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #000;
	opacity: .4;
	height: 100%;
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;

}

.date {
	width: 60px;
	height: 60px;
	background-color: rgba(0,0,0,0.4);
	font-family: 'raleway-bold';
	border-radius: 5px;
	margin: 15px;
	color: #fff;
	text-transform: uppercase;
	position: relative;
	z-index: 100;
}

.date > p:first-child {
	font-size: 32px;
	padding-top: 3px;
	padding-left: 12px;
	line-height: 25px;
}

.date > p:last-child {
	font-size: 21px;
	padding-left: 7px;
	line-height: 10px;
}


#blog div > .row > a:first-child > div{
	background-image: url('../images/blog_1.jpg');
}

#blog div > .row > a:nth-child(2) > div{
	background-image: url('../images/blog_2.jpg');
}

#blog div > .row > a:nth-child(3) > div{
	background-image: url('../images/blog_3.jpg');
}

#blog div > .row > a > div::before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.9), rgba(255,255,255,.0));
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.9), rgba(255,255,255,.0));
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.9), rgba(255,255,255,.0));
	background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.9), rgba(255,255,255,.0));
	background-image: linear-gradient(to top, rgba(0,0,0,.9), rgba(255,255,255,.0));
	height: 151px;	
}

.blog_footer > p:first-child {
	font-family: 'raleway-bold';
	font-size: 20px;
	color: #fff;
	margin-top: 110px;
	position: relative;
	z-index: 100;
}


.blog_footer > p:last-child {
	font-family: 'raleway-light';
	font-size: 13px;
	color: #fff;
	margin-top: 15px;
	position: relative;
	z-index: 100;
}

#blog button {
	width: 200px;
	background-color: #f72b3b;
	margin-top: 50px;
	
}

#blog .more_blog {
	display: none;
}

/* ------------------------ SECTION CONTACT ------------------------ */

#contact {
	background-image: url('../images/bg_footer.jpg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center top;
	height: auto;
	padding-bottom: 80px;
	background-size: cover;
}

#contact h1{
	font-family: 'raleway-bold';
	font-size: 90px;
	line-height: 25px;
	color: #262626;
	margin-top: 120px;
}

#contact p{
	font-family: 'raleway-light';
	font-size: 17px;
	line-height: 25px;
	color: #262626;
	margin-top: 70px;
	margin-bottom: 45px;
}

#contact form input, #contact form textarea {
	width: 500px;
	height: 50px;
	margin-bottom: 15px;
	background-color: #00c4c4;
	opacity: .6;
	border: none;
	padding-left: 20px;
	font-family: 'raleway-light';
	font-size: 15px;
	color: #fff;
}

#contact form input:focus, #contact form textarea:focus {	
	background-color: #00c4c4;
	opacity: 1;
	font-family: 'raleway-bold';
	color: #fff;
	border-left: 5px solid #355b82;
	outline: 0;
	padding-left: 14px;
}


#contact form textarea {
	height: 250px;
	padding-top: 20px;
	font-size: 15px;
	resize: none;
}

#contact form input::-webkit-input-placeholder, #contact form textarea::-webkit-input-placeholder{color: #fff;}

#contact form input:-moz-placeholder, #contact form textarea:-moz-placeholder{color: #fff;}

#contact form input::-moz-placeholder, #contact form textarea::-moz-placeholder{color: #fff;}

#contact form input:-ms-input-placeholder, #contact form textarea:-ms-input-placeholder{color: #fff;}

#contact button {
	width: 500px;
	background-color: #00c4c4;
}

#contact > div > .row > div {
	margin-top: -37px;
	width: 330px;
}

#contact h2 {
	font-family: 'raleway-bold';
	font-size: 17px;
	line-height: 55px;
	color: #262626;
	text-transform: uppercase;
}

#contact h3 {
	font-family: 'raleway-regular';
	font-size: 20px;
	line-height: 25px;
	color: #262626;
	margin-top: -27px;
	margin-bottom: -23px;

}

/* ------------------------ FOOTER ------------------------ */

footer {
	background-color: #262626;
	height: 90px;
}

footer > div > .row > div:first-child > p {
	font-family: 'raleway-light';
	font-size: 16px;
	color: #b9b9b9;
	padding-top: 38px;
}

footer > div > .row > div:nth-child(2) > img {
	padding-top: 30px;
}

footer > div > .row > div:last-child > p {
	font-family: 'raleway-bold';
	font-size: 15px;
	color: #b9b9b9;
	padding-top: 38px;
	float: right;
}

footer > div > .row > div:last-child > p > span{
	color: #ff2b58;
}



/* ------------------------------- MAX-WIDTH 316px --------------------------------- */

@media (max-width: 316px)  {
	
	#services .services_button > p {
		min-width: 220px !important;
		width: auto !important;
	}

	#services .services_button > img {
		display: none;
	}

}

/* ------------------------------- MAX-WIDTH 768px --------------------------------- */

@media (max-width: 767px)  {
	
	/* ------------------------ SECTION HOME ------------------------ */
	
	#home {
		background-image: url('../images/bg_header.jpg');
		background-color: #f9f8fb;
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-position: center top 10%;
		max-height: 600px;
		min-height: 300px;
		background-size: inherit;
		display: flex;
		align-content: center;
		align-items: center;
		margin-top: 50px;
	}
	
	.navbar {
		background: #fff;
		height:50px;
		box-shadow: 1px 1px 5px #e6e5e5;
	}
	
	.navbar .navbar-brand {
		padding-top:8px;
	}

	nav .navbar-brand img {
		width: 90px;
	}
	
	#menu {
		-webkit-transition: width 1s ease;
		-moz-transition: width 1s ease;
		-o-transition: width 1s ease;
		transition: width 1s ease !important;
		display: inline-block;
		overflow: hidden;
		white-space: nowrap;
		background: #ffffff;
		vertical-align: middle;
		line-height: 30px;
		min-height: 100%;
		width: 0px;
		margin-right: -55px;
		padding-top: 10%;
		padding-bottom:100px;
		list-style:none;
		padding-left:40px;
		margin-top:42px;
		position:fixed;
		top:8px;
		right:0;
	}

	#menu ul li a {
		font-size: 13px;
		margin-bottom: 18px;
	}

	#menu.in {
		width: 250px;
	}
	
	#menu > ul > .active > a::before, #menu > ul> li > a:hover::before {
		left: -20px;
		height: 100%;
		width: 3px;
	}
	
	#home h1 {
		font-size: 50px;
		padding-top: 0px;
		text-align: center;
	}

	#home p {
		text-align: center;
		
	}
	
	#home .button {
		margin-top: 28px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	

	/* ------------------------ SECTION ABOUT ------------------------ */
	
	#about {
		height: auto;
		padding-bottom: 50px;
	}

	#about h1 {	
		font-size: 50px;
		margin-top: 30px;
		text-align: center;
	}

	#about p {
		font-size: 15px;
		text-align: center;
	}
	
	#about img {
		padding-top: 30px;
		margin-left: -40px;
		max-width: 60%;
	}

	#about .img-responsive {
		min-width: 70%;
		margin-right: auto;
		margin-left: auto;
	}
	
	/* ------------------------ SECTION SERVICES ------------------------ */
	
	#services .services_button {
		max-width: 400px;
		width: auto;
		height: 80px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	#services .services_button > p {
		font-size: 16px;
		padding-top: 30px;
		padding-left: 15px;
		max-width: 190px;
		height: 80px;
	}

	#services > div > div > a:nth-child(3) > div > p {
		padding-top: 15px;
	}

	#services .services_button > img {
		padding: 20px;
		width: 80px;
	}

	#services .services_button::before {
		background: transparent;
	}

	#services {
		height: auto;
		padding-bottom: 60px;
	}

	#services > div > div:nth-child(2) {
		margin-top: 30px;
	}

	#services h2 {
		font-family: 'raleway-bold';
		font-size: 40px;
		color: #fff;
		text-shadow: 1px 1px 5px #6a6a6a;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
	}
	
	#services > div > div > img {
		margin-top: 10%;
		width: 50%;
		min-width: 60%;
	}

	/* ------------------------ SECTION GALLERY ------------------------ */
	
	#gallery {
		height: auto;
		padding-bottom: 50px;
	}

	#gallery h1 {
		font-size: 50px;
		margin-top: 70px;
	}

	#gallery p {
		text-align: center;
		font-size: 15px;
		margin-top: 50px;
	}

	#gallery img  {
		width: 100%;
		margin-bottom: 30px;
	}
	
	#gallery > div > div:nth-child(3)  {
		margin-top: 0px;
	}
	
	#gallery .button {
		margin-top: 20px;
	}
	
	#gallery .more {
		margin-top: 0px;
	}
	
	/* ------------------------ SECTION SUBSCRIBE ------------------------ */
	
	#subscribe {
		height: auto;
		padding-bottom: 210px;
		background-size: contain;
		background-position: center bottom;
	}

	#subscribe h1 {
		font-size: 40px;
		line-height: 37px;
		margin-top: 80px;
		text-align: center;
	}

	#subscribe p {
		text-align: center;
		background: #fff;
		padding: 5px;
		font-size: 15px;
	}

	#subscribe form {
		margin-top: 20px;
	}

	#subscribe button {
		margin-top: 20px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
	/* ------------------------ SECTION BLOG ------------------------ */
	
	#blog {
		height: auto;
		padding-bottom: 50px;
	}
	
	#blog h1 {
		font-size: 50px;
		margin-top: 50px;
	}
	
	#blog > div > div > p {
		font-size: 15px;
		margin-top: 50px;
	}

	#blog div > .row > a > div {
		width: 100%;
		background-size: cover;
		margin: 20px auto ;
		float: none;
		text-decoration: none;	
	}
	
	#blog div > .row > a > div:hover {
		background-size: cover;
	}
	
	#blog div > .row > a  {
		text-decoration: none;	
	}
	
	#blog p {
		text-decoration: none;
		text-align: center;
	}
	
	#blog .row {
		padding: 15px;
	}
	
	.blog_footer > p:first-child {
		font-size: 18px;
	}
	
	#blog .button {
		margin-top: 20px;
	}
	
	#blog .more_blog {
		margin-top: -30px;
	}
	
	#blog > div > div:nth-child(2) {
		padding-bottom: 0px;
	}
	
	/* ------------------------ SECTION CONTACT ------------------------ */
	
	#contact {
		background-image: url('../images/bg_footer.jpg');
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-position: center top;
		height: auto;
		padding-bottom: 50px;
		background-size: cover;
	}

	#contact h1{
		font-size: 50px;
		margin-top: 50px;
	}

	#contact p{
		margin-top: 40px;
		font-size: 15px;
	}

	#contact form input, #contact form textarea {
		width: 100%;	
		height: 40px;
	}

	#contact form textarea {
		height: 150px;
		padding-top: 20px;
		font-size: 15px;
		resize: none;
	}

	#contact button {
		width: 100%;
	}

	#contact > div > .row > div {
		margin-top: 10px;
		width: 100%;
		text-align: center;
	}

	#contact h2 {
		color: #fff;	
	}

	#contact h3 {
		font-size: 15px;
		color: #fff;
	}

	/* ------------------------ FOOTER ------------------------ */
	
	footer {
		height: auto;
		padding-bottom: 20px;
	}

	footer > div > .row > div:first-child > p {
		font-size: 14px;
		padding-top: 28px;
		float: none;
		text-align: center;
	}

	footer > div > .row > div:nth-child(2) > img {
		padding-top: 8px;
	}

	footer > div > .row > div:last-child > p {
		font-size: 13px;
		padding-top: 18px;
		float: none;
		text-align: center;
	}

}

/* ------------------------------- MAX-WIDTH 992px --------------------------------- */

@media (min-width: 768px) and (max-width: 991px) {
	
	#menu > ul > li > a {
		margin: 6px 15px 15px 20px;
		font-size: 14px;
	}
	
	/* ------------------------ SECTION ABOUT ------------------------ */
	
	#about {
		height: 650px;
	}

	#about h1 {		
		font-size: 60px;
		margin-top: 150px;
	}

	#about img {
		padding-top: 130px;
		margin-left: -40px;
	}
	
	/* ------------------------ SECTION SERVICES ------------------------ */
	
	#services {
		height: 580px;
		background-color: #70bfff;
	}
	
	#services .services_button {
		width: 350px;
		height: 80px;
	}

	#services .services_button > p {
		font-size: 18px;
		line-height: 27px;
		padding-top: 28px;
		width: 250px;
		height: 80px;
		vertical-align: middle;
		text-align: center;
	}

	#services > div > div > div:nth-child(3) > p {
		padding-top: 15px;
	}

	#services .services_button > img {
		padding-right: 16px;
		padding-top: 15px;
	}

	#services .services_button::before {	
		height: 80px;	
		right: -25px;
	}

	
	#services > div > div:nth-child(2) {
		margin-top: 100px;
	}

	#services > div > div:last-child {
		margin-top: 115px;
	}

	#services > div > div:last-child > p {
		font-size: 55px;
		width: 340px;
		top: 180px;
	}

	#services > div > div:last-child > img {
		margin-left: 0px;
	}
	
	/* ------------------------ SECTION GALLERY ------------------------ */
	
	#gallery {
		height: auto;
		padding-bottom: 80px;
	}

	#gallery > div > div:nth-child(2) > div:nth-child(2) > img:last-child  {
		margin-top: 26px;
	}
	
	/* ------------------------ SECTION SUBSCRIBE ------------------------ */
	
	#subscribe {
		height: auto;
		padding-bottom: 180px;
		background-position: center bottom;
	}

	#subscribe h1 {
		
		font-size: 40px;
		line-height: 37px;
		margin-top: 100px;
		text-align: center;
	}

	#subscribe p {
		text-align: justify;
		background: #fff;
		padding: 5px;
	}

	#subscribe form {
		margin-top: 20px;
	}


	#subscribe button {
		margin-top: 20px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
	/* ------------------------ SECTION BLOG ------------------------ */

	#blog {
		height: auto;
		padding-bottom: 100px;
	}
	
	#blog h1 {
		font-size: 80px;
	}

	#blog div > .row > a > div {
		width: 350px;
		margin: 40px 10px 0px 10px;
		background-size: 110%;
	}
	
	#blog div > .row > a > div:hover {
		background-size: 120%;
	}
	
	/* ------------------------ SECTION CONTACT ------------------------ */
	
	#contact h1 {
		font-size: 80px;
	}

	#contact form input, #contact form textarea {
		min-width: 400px;
		width: auto;	
	}

	#contact button {
		min-width: 400px;
		width: auto;
	}
	
	#contact > div > .row > div {
		width: auto;
		float: right;
	}

	#contact h3 {
		font-size: 17px;
	}

	/* ------------------------ FOOTER ------------------------ */
	
	footer > div > .row > div:first-child > p {
		font-size: 14px;
	}

	footer > div > .row > div:last-child > p {
		font-size: 13px;
	}

}

/* ------------------------------- MAX-WIDTH 1200px --------------------------------- */

@media (min-width: 992px) and (max-width: 1199px) {

	#about img {
		padding-top: 90px;
	}
	
	#about h1 {
		font-size: 80px;
	}
	
	/* ------------------------ SECTION SERVICES ------------------------ */
	
	#services {
		height: 700px;
		background-color: #70bfff;
	}

	#services .services_button::before {
		right: 15px;
	}

	#services > div > div:nth-child(2) {
		margin-top: 120px;
	}

	#services > div > div:last-child {

		margin-top: 120px;
	}

	#services > div > div:last-child > p {	
		font-size: 80px;
		width: 490px;
	}

	#services > div > div:last-child > img {
		margin-left: 15px;
	}
	
	/* ------------------------ SECTION GALLERY ------------------------ */
	
	#gallery {
		height: auto;
		padding-bottom: 80px;
	}

	#gallery > div > div:nth-child(2) > div:nth-child(2) > img:last-child  {
		margin-top: 28px;
	}

	/* ------------------------ SECTION SUBSCRIBE ------------------------ */
	
	#subscribe {
		background-position: center right;
	}
	
	/* ------------------------ SECTION BLOG ------------------------ */

	#blog div > .row > a > div{
		height: 293px;
		width: 293px;
		padding: 15px;
		margin: 40px 15px 0px 15px;
		-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.5);
		-moz-box-shadow: 0 2px 5px rgba(0,0,0,.5);
		box-shadow: 0 2px 5px rgba(0,0,0,.5);
		background-size: 120%;
	}
	
	#blog div > .row > a > div:hover{
		background-size: 130%;
	}
	
	.date {
		margin: 5px;
	}
	
	/* ------------------------ SECTION CONTACT ------------------------ */
	
	#contact h1 {
		font-size: 80px;
	}
	
	/* ------------------------ FOOTER ------------------------ */
	
	footer > div > .row > div:first-child > p {
		font-size: 14px;
	}

	footer > div > .row > div:last-child > p {
		font-size: 13px;
	}

}

/* ------------------------------- MIN-WIDTH 1200px --------------------------------- */

@media (min-width: 1200px)  {
	.container {
		padding-right: 0px;
		padding-left: 0px;
	}
}