body{
	background-color: $background-color;
	font-family: 'Roboto', sans-serif;
	width: 100%;
  	height: 100%;
	transition: all .5s ease;
	font-weight: 400;
	
	@media (min-width: $sm-1) {
		margin-top: 50px;
        margin-bottom: 50px;
	}
	
	@media (min-width: $sm) and (max-width: $md-1){
		margin-top: 15px;
	}
}

.container{
	width: 928px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	
	@media (min-width: $sm) and (max-width: $md-1){
		min-width: 720px;
		width: auto;
	}
	
	@media (max-width: $sm-1) {
		width: auto;
		padding-left: 0px;
		padding-right: 0px;
	}
}


.flex-row{
    @include flexbox;
    @include flexbox__row;
}

.flex-column{
	@include flexbox;
    @include flexbox__column;
}

.sm-flex-column{
	@media (max-width: $sm-1) {
		-webkit-box-orient: vertical !important;
        -moz-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        -webkit-box-direction: normal !important;
        -moz-box-direction: normal !important;
        -webkit-flex-direction: column !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
	}
}

.hidden-sm{
    @media (min-width: $sm) {
        display: block;
    }
    
    @media (max-width: $sm-1) {
        display: none;
    }
}

.visible-sm{
    @media (min-width: $sm) {
        display: none;
    }
    
    @media (max-width: $sm-1) {
        display: block;
    }
}
	
.menu-right{
	width: 75%;
	margin-left: 15px;
	
	@media (max-width: $sm-1) {
		width: 100%;
		margin-left: 0px;
	}
}

.video-container{
    margin-top: $block-margin;
    @include flexbox__justify--space-between;
    background-color: #000;
    
    @media (max-width: $sm-1) {
		margin-top: 0px;
	} 
}

.photo-container{
    margin-top: $block-margin;
    @include flexbox__justify--space-between;
    
    @media (max-width: $sm-1) {
		//margin-top: 0px;
	} 
}

.bottom-section{
    margin-top: $block-margin;
    
    @media (max-width: $sm-1) {
		@include flexbox__column;
	}
}

.bottom-section__left{
    width: 33%;
    margin-right: $block-margin;
    
    @media (max-width: $sm-1) {
		@include flexbox__column;
        width: 100%;
	}
}

.bottom-section__right{
    width: 66%;
    
    @media (max-width: $sm-1) {
		@include flexbox__column;
        width: 100%;
	}
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.loader-container {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
    background: $white;
}

.loader__icon {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid $aqua;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
	