.menu-bar{
	width: 25%;
	
	@media (max-width: $sm-1) {
		width: 100%;
	}
}

.menu-bar-ul {
	list-style: none;
	padding-left: 0px;
	margin: 0px;
}

.menu-bar__a{
	text-decoration: none;
}

.menu-bar__li{
	width: 100%;
	height: 60px;
	background-color: $white;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	border-bottom: 1px solid #e1e5e7;
	transition: background-color .3s ease;
	
	&:hover{
		color: $white;
		background-color: $aqua;
		
		.menu-bar__icon{ color: $white; }
		
		.menu-bar__icon--double-right{
			margin-left: auto;
			margin-right: 0px;
			
			@media (max-width: $sm-1) {
				margin-left: 15px;
				margin-right: -28px;
			}
		}
		
		.menu-bar__span{ color: $white;	}
	}
	
	@media (max-width: $sm-1) {
		justify-content: center;
		height: 50px;
        border-bottom: none;
	}
}

.menu-bar__li--active{
   
        background-color: $aqua;

            .menu-bar__icon{ color: $white; }

            .menu-bar__icon--double-right{
                margin-left: auto;
                margin-right: 0px;

                @media (max-width: $sm-1) {
                    margin-left: 15px;
                    margin-right: -28px;
                }
            }

            .menu-bar__span{ color: $white;	}
        
}

.menu-bar__icon{
	color: $grey-lighten;
	padding: 15px;
	font-size: 25px;
	transition: all .5s;
	
	@media (min-width: $sm) and (max-width: $md-1){
		padding: 10px;
		font-size: 24px;
	}
	
	@media (max-width: $sm-1) {
		font-size: 20px;
		padding-left: 0px;
	}
	
}

.menu-bar__icon--double-right{
	margin-left: auto;
	margin-right: 5px;
	transition: margin .5s ease;
	
	@media (max-width: $sm-1) {
		margin-left: 15px;
		margin-right: -28px;
	}
}

.menu-bar__span{
	color: $grey-darken;
	
	@media (max-width: $sm-1) {
		font-size: 14px;
	}
}



.menu-contact-ul{
	background-color: $grey-lighten;
	list-style: none;
	padding-left: 0px;
	margin: 0px;
	padding-bottom: 26px;
	
	@media (max-width: $sm-1) {
		padding-bottom: 15px;
	}
}

.menu-contact__li{
	width: 100%;
	padding-top: 26px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	
	@media (max-width: $sm-1) {
		justify-content: center;
		padding-top: 15px;
	}
}

.menu-contact__icon{
	color: $white;
	padding: 0px 14px;
	font-size: 27px;
	transition: all .5s;
	
	@media (min-width: $sm) and (max-width: $md-1){
		padding: 0px 10px 0px 8px;
		font-size: 25px;
	}
	
	@media (max-width: $sm-1) {
		padding-left: 0px;
		font-size: 24px;
	}
	
}

.menu-contact__span{
	color: $white;
	font-size: 14px;
	line-height: 20px;
	
	@media (min-width: $sm) and (max-width: $md-1){
		font-size: 13px;
	}
	
	@media (max-width: $sm-1) {
		font-size: 13px;
	}
}