@mixin flexbox{
      display: -webkit-box;           /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;              /* OLD - Firefox 19- (doesn't work very well) */
      display: -ms-flexbox;           /* TWEENER - IE 10 */
      display: -webkit-flex;          /* NEW - Chrome */
      display: flex;  
}

@mixin flexbox__row{
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

@mixin flexbox__column {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@mixin flexbox__row-reverse{
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

@mixin flexbox__justify--space-between {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@mixin flexbox__justify--center {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@mixin flexbox__justify--space-around{
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

@mixin flexbox__justify--flex-start{
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

@mixin flexbox__aligin-items--flex-start {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

@mixin flexbox__aligin-items--flex-end {
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}

@mixin flexbox__aligin-items--center {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

@mixin flexbox__aligin-items--stretch {
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

@mixin flexbox__aligin-self--center{
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

@mixin flexbox__aligin-self--flex-end{
    -webkit-align-self: flex-end;;
    -ms-flex-item-align: flex-end;
    align-self: flex-end;
}

@mixin flexbox__align-content--center{
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

@mixin transition($property, $delay, $timing){
    -webkit-transition: $property $delay $timing;
    -moz-transition: $property $delay $timing;
    -o-transition: $property $delay $timing;
    transition: $property $delay $timing;
}

