.newsletter{
	@extend .sign-in;
}

.newsletter__title{
	@extend .sign-in__title;
}

.newsletter__subtitle{
	@extend .sign-in__subtitle;
}

.sign-up-form {
	width: 100%;

    -webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;

	margin-bottom: 18px;
	
	@media (min-width: $sm) and (max-width: $md-1){
		width: 92%;
	}
	
	@media (max-width: $sm-1) {
        @include flexbox__column;
        @include flexbox__aligin-items--center;

	}
}


.sign-up-input {
	width: 60%;
	margin-right: 15px;
	height: 40px;
	color: #a3abaf;
	border: 1px solid #dde2e4;
	padding-left: 15px;
	outline: none;
	
	&:focus{
		box-shadow: 0px 0px 5px $background-color;	
	}
	
	@media (max-width: $sm-1) {
		height: 35px;
		font-size: 14px;
		text-align: center;
		margin-right: 0px;
		padding-left: 0px;
	}
}