.sign-in{
	height: 25%;
	background-color: $white;
	margin-top: 15px;
    @include flexbox__aligin-items--center;
    @include flexbox__justify--space-between;
	
	@media (max-width: $sm-1) {
		//margin-top: 0px;
		padding: 20px 0px;
	}
}

.sign-in__title{
	font-size: 24px;
	margin-top: 18px;
	
	@media (max-width: $sm-1) {
		font-size: 21px;
	}
}

.sign-in__subtitle{
	font-size: 15px;
	font-weight: 300;
	
	@media (min-width: $sm) and (max-width: $md-1){
		font-size: 14px;
	}
	
	@media (max-width: $sm-1) {
		font-size: 14px;
		text-align: center;
		padding: 20px;
	}
}

.sign-in__icon{
	color: $white;
	padding: 8px;
	font-size: 18px;
	border-radius: 50px;
	transition: color .3s ease;
	margin: 0px 11px 18px 11px;
	
	&.icon-facebook{ background-color: $fb-blue; }
	&.icon-twitter{ background-color: $twitter-blue; }
	&.icon-gplus{ background-color: $google-red; }
	&.icon-linkedin{ background-color: $in-blue; }
	
	&:hover{
		cursor: pointer;
	}
	
	@media (max-width: $sm-1) {
		margin: 0px 9px 18px 9px;
	}
}