$sm-1:767px;
$sm:768px;
$md-1:976px;
$md:977px;

$background-color : #506782;
$aqua: #56ccc8;
$aqua-darken: #4bc7c7;
$white: #ffffff;
$grey-lighten: #c5cdd1;
$grey: #b2b9bd;
$grey2: #a3abaf;
$grey-darken: #475055;
$fb-blue: #4d6baa;
$twitter-blue: #4fc6f8;
$google-red: #ea6060;
$in-blue: #238cc8;
$rss-orange: #ff6600;
$pinterest-red: #bd081c;
$submenu-color: #152840;
$submenu-hover: #263a54;

$font-16: 16px;

$block-margin: 15px;