.section-3{
    background-image: url(../img/image-1.png);
    background-attachment: fixed;
    background-clip: border-box;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    @media (max-width: $md-1){
        margin: 40px 15px 0 15px;
    }
    
    .container{
        padding: 40px 15px;
    }
    
    p{
        color: #fff;
        text-align: center;
    }
}