.thankyou__container{
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
    @include flexbox;
    @include flexbox__column;
}

.thankyou--1{
    font-family: "dDin";
    color: #fff;
    text-align: center;
    font-size: 26px;
    margin-top: 40px;
    margin-bottom: 25px;
}

.thankyou--2{
    font-family: "dDin";
    color: #fff;
    font-weight: 100;
    text-align: center;
    font-size: 23px;
    margin-bottom: 25px;
}

.thankyou__circle{
    background: white;
    align-self: center;
    display: block;
    border-radius: 100px;
    margin-top: 50px;
    margin-bottom: 55px;
    -webkit-animation: bubble-anim 2s ease-out infinite;
    animation: bubble-anim 2s ease-out infinite;

    .icon-check{
        font-size: 130px;
        min-height: 182px;
        color: #0f435d;
        @include flexbox;
        @include flexbox__column;
        @include flexbox__justify--center;  
    }
}

@-webkit-keyframes bubble-anim {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    20% {
        -webkit-transform: scaleY(0.95) scaleX(1.05);
        transform: scaleY(0.95) scaleX(1.05);
    }
    48% {
        -webkit-transform: scaleY(1.1) scaleX(0.9);
        transform: scaleY(1.1) scaleX(0.9);
    }
    68% {
        -webkit-transform: scaleY(0.98) scaleX(1.02);
        transform: scaleY(0.98) scaleX(1.02);
    }
    80% {
        -webkit-transform: scaleY(1.02) scaleX(0.98);
        transform: scaleY(1.02) scaleX(0.98);
    }
    97%,
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


@keyframes bubble-anim {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    20% {
        -webkit-transform: scaleY(0.95) scaleX(1.05);
        transform: scaleY(0.95) scaleX(1.05);
    }
    48% {
        -webkit-transform: scaleY(1.1) scaleX(0.9);
        transform: scaleY(1.1) scaleX(0.9);
    }
    68% {
        -webkit-transform: scaleY(0.98) scaleX(1.02);
        transform: scaleY(0.98) scaleX(1.02);
    }
    80% {
        -webkit-transform: scaleY(1.02) scaleX(0.98);
        transform: scaleY(1.02) scaleX(0.98);
    }
    97%,
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}