.footer{
    background-color: $lighten_black;
    height: 100px;
    @include flexbox;
    @include flexbox__aligin-items--center;
    
    @media (max-width: 767px) {
        height: 60px;
    }
}

.footer__text{
    font-size: 14px;
    color: $white;
    text-align: center;
    margin: 0;
    padding: 0;
    
   @media (max-width: 767px) {
        font-size: 12px;
        text-align: center;
    }
}

.footer__text--span{
    font-weight: 500;
    color: #077545;
    
    &:hover{
        color: #077545;
    }
}