.kontakt{
    @include top-margin;
}

.kontakt-container--fluid{
    background-image: url('../images/bg_contact.jpg');
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    //background-size: cover;
    perspective: 1px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 600px;
    width: 100%;
    background-size: cover;
    
    @media (min-width: 768px) and (max-width: 991px) {
        height: inherit;
    }
    
    @media (max-width: 767px) {
        height: inherit;
    }
}

.kontakt__header{
    font-size: 27px;
    color: $white;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 80px;
    
    @media (max-width: 767px) {
        padding-bottom: 40px;
        font-size: 21px;
    }
}

.kontakt-container{
    @include flexbox;
    @include flexbox__row;
    
    @media (min-width: 768px) and (max-width: 991px) {
        @include flexbox__column;
    }
    
    @media (max-width: 767px) {
        @include flexbox__column;
    }
}

.kontakt-container--left{
    width: 58%;
    @include flexbox;
    @include flexbox__column;
    
    @media (min-width: 768px) and (max-width: 991px) {
        width: 100%;
        @include flexbox__aligin-items--center;
    }
    
    @media (max-width: 767px) {
        width: 100%;
        @include flexbox__aligin-items--center;
    }
}

.kontakt-container--right{
    width: 42%;
    @include flexbox;
    @include flexbox__column;
    
    @media (min-width: 768px) and (max-width: 991px) {
        width: 100%;
        padding-bottom: 50px;
    }
    
    @media (max-width: 767px) {
        width: 100%;
        padding-bottom: 50px;
    }
}

.kontakt-container--left__row{
    @include flexbox;
    @include flexbox__row;
    @include flexbox__aligin-items--center;
}

.kontakt__icon{
    font-size: 17px;
    color: $white;
    margin-right: 12px;
}

.kontakt__text{
    font-size: 17px;
    line-height: 40px;
    color: $white;
    text-align: justify;
    margin: 0;
    padding: 0;
    
   @media (max-width: 767px) {
        font-size: 14px;
       text-align: justify;
    }
}

.kontakt__text--open-hour{
    line-height: 31px;
    margin-top: 50px;
    
    @media (min-width: 768px) and (max-width: 991px) {
        text-align: center;
        margin-bottom: 40px;
    }
    
    @media (max-width: 767px) {
        text-align: center;
        margin-bottom: 40px;
    }
}


.kontakt__text--span{
    font-weight: 500;
}

.kontakt-form__input{
    height: 40px;
    outline: none;
    padding-left: 20px;
    border: 1px solid #b2b2b2;
    margin-bottom: 20px;
    
    @media (max-width: 767px) {
        font-size: 14px;
    }
    
}

.kontakt-form__textarea{
    height: 180px;
    outline: none;
    padding-left: 20px;
    padding-top: 13px;
    border: 1px solid #b2b2b2;
    resize: none;
    overflow: auto;
    
    @media (max-width: 767px) {
        font-size: 14px;
    }
}

::-webkit-input-placeholder{color:#a3abaf}
::-moz-placeholder{color:#a3abaf}
:-ms-input-placeholder{color:#a3abaf}
:-moz-placeholder{color:#a3abaf}

.kontakt-form__button{
    width: 150px;
    height: 45px;
    background-color: $lighten_black;
    color: $white;
    text-transform: uppercase;
    font-size: 17px;
    margin-top: 30px;
    border: none;
    @include transition(all, .3s, ease);
    
    @media (min-width: 768px) and (max-width: 991px) {
        @include flexbox__aligin-self--center;
    }
    
    @media (max-width: 767px) {
        @include flexbox__aligin-self--center;
        font-size: 15px;
        height: 35px;
    }
    
    &:hover{
        background-color: $zu_dark_grey;
    }
    
}