.navbar-container{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background-color: $white;
    height: 150px;
    @include transition(all, .3s, ease);
    
    @media (max-width: 767px) {
        height: 50px !important;
    }
}

.navbar-container--top{
    height: 70px;
    border-bottom: 1px solid $zu_light_grey;
    
    .nav-brand__logo{
        height: 40px;
        width: 40px
    }
    
    .nav-brand__name{
        font-size: 14px;
        padding-left: 10px;
    }
    
    .nav-brand__name--span{
        font-size: 16px;
        line-height: 25px;
    }
}

.nav-container{
    height: 100%;
    @include flexbox;
    @include flexbox__row;
    @include flexbox__justify--space-between;;
    @include flexbox__aligin-items--center;

}

.nav-brand-container{
    text-decoration: none;
    @include flexbox;
    @include flexbox__row;
    @include flexbox__justify--space-between;
    @include flexbox__aligin-items--center;
}

.nav-brand__logo{
    height: 51px;
    width: 51px;
    @include transition(all, .3s, ease);
    
    @media (max-width: 767px) {
        height: 40px;
        width: 40px
    }
}

.nav-brand__name{
    color: $grey;
    font-size: 15px;
    font-weight: 300;
    padding-left: 17px;
    @include transition(all, .3s, ease);
    
    @media (min-width: 768px) and (max-width: 991px) {
        font-size: 14px;
        padding-left: 10px;
    }
    
    @media (max-width: 767px) {
        font-size: 14px;
        padding-left: 10px;
    }
    
}

.nav-brand__name--span{
    color: $green;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    @include transition(all, .3s, ease);
    
    @media (min-width: 768px) and (max-width: 991px) {
        font-size: 17px;
    }
    
    @media (max-width: 767px) {
        font-size: 16px;
        line-height: 25px;
    }
}

.nav-menu-container{
    margin-bottom: 0;
    list-style: none;
    margin-left: -8px;
    @include flexbox;
    @include flexbox__row;
    @include flexbox__justify--space-between;
    @include flexbox__aligin-items--center;
    
    @media (max-width: 767px) {
        @include flexbox__column;
    }
    
    @media (max-width: 767px) {
        height: calc(100vh - 50px);
        width: 50%;
        background: $white;;
        position: absolute;
        right: -50%;
        top: 50px;
        overflow-y: auto;
        padding-right: 4%;
        @include transition(all, .5s, ease);
        @include flexbox__justify--center;
        @include flexbox__aligin-items--flex-end;
    }
}

.nav-menu-container--in{
    @media (max-width: 767px) {
        height: calc(100vh - 50px);
        width: 50%;
        background: $white;;
        position: absolute;
        right: 0;
        top: 50px;
        overflow-y: auto;
        padding-right: 4%;
        @include transition(all, .5s, ease);
        @include flexbox__justify--center;
        @include flexbox__aligin-items--flex-end;
    }
}

.nav-menu__li{
    margin-left: 40px;
    
    @media (min-width: 768px) and (max-width: 991px) {
        margin-left: 20px;
    }
    
    @media (max-width: 767px) {
         margin-left: 0px;   
    }

    &.active{
        .nav-menu__a{          
            color: $green;
                  
            &::before{
                content: ' ';
                display: block;
                position: absolute;
                bottom: 2px;
                width: 100%;
                height: 2px;
                background-color: #108854;
                margin-left: -10px;
                @include transition(all, .3s, ease);
                
                @media (min-width: 768px) and (max-width: 991px) {
                    margin-left: 0px;
                    bottom: -3px;
                }
                
                @media (max-width: 767px) {
                    width: 2px;
                    height: 100%;
                    right: 0;  
                }
            }
        }
    }
}

.nav-menu__a{
    color: $grey;
    padding: 10px !important;
    position: relative;
    @include transition(all, .3s, ease);
    
    @media (min-width: 768px) and (max-width: 991px) {
        padding: 0px !important;
    }
    
    @media (max-width: 767px) {
         padding: 5px 10px !important;  
    }
    
    &::before{
        content: ' ';
        display: block;
        position: absolute;
        bottom: 2px;
        width: 100%;
        height: 2px;
        background-color: transparent;
        margin-left: -10px;
        @include transition(all, .3s, ease);
        
        @media (min-width: 768px) and (max-width: 991px) {
            margin-left: 0px;
            bottom: -3px;
        }
        
        @media (max-width: 767px) {
            width: 2px;
            height: 100%;
            right: 0;
        }
    }
    
    &:hover, &:focus{
        color: $green;
        background-color: transparent !important;
      
        &::before{
            background-color: #108854;
        }
    }
}

.nav-menu-button {
    width: 26px;
    height: 26px;
    position: absolute;
    top: 12px;
    right: 15px;
    background: transparent;
    border: none;
    cursor: pointer;
    @include transform__rotate(0deg);
    @include transition(all, .5s, ease-in-out);
}

.nav-menu-button__span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #777777;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    @include transform__rotate(0deg);
    @include transition(all, .25s, ease-in-out);
}

.nav-menu-button__span:nth-child(1) {
    top: 0px;
}

.nav-menu-button__span:nth-child(2),
.nav-menu-button__span:nth-child(3) {
    top: 10px;
}

.nav-menu-button__span:nth-child(4) {
    top: 20px;
}

.nav-menu-button--open .nav-menu-button__span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.nav-menu-button--open .nav-menu-button__span:nth-child(2) {
    @include transform__rotate(45deg);
}

.nav-menu-button--open .nav-menu-button__span:nth-child(3) {
    @include transform__rotate(-45deg);
}

.nav-menu-button--open .nav-menu-button__span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}