.wynagrodzenie{
    @include top-margin;
}

.wynagrodzenie-container{
    @include container-padding;
}

.wynagrodzenie__header{
    @include header-text;
}

.wynagrodzenie__text{
    @include text;
}

.wynagrodzenie__ul{
    padding: 10px 0px 10px 20px;
    
    @media (max-width: 767px) {
        padding: 10px 0px 10px 15px;
    }
}

.wynagrodzenie__li{
    @include text;
    padding: 13px 0px;
    text-align: left;
    
    @media (max-width: 767px) {
        //text-align: left;
        padding: 10px 0px;
    }
}

.wynagrodzenie__li--span{
    color: $green;
    font-weight: 400;
    padding-right: 3px;
}