.photo{
    width: 33%;
    background-image: url("../images/slider-1.jpg");
    background-size: cover;
    background-position-x: 65%;
    
    @media (max-width: $sm-1) {
		width: 100%;
        min-height: 220px;
        order: 3;
	}
}

