.modal {
    background-color: #0f435d;
    border-radius: 10px;
    display: none;
    max-height: calc(100% - 100px);
    position: fixed;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    z-index: 990;
    
    &.modal-is-visible {
        display: block;
        z-index: 1010;
    }
    
    @media (max-width: $sm-1) {
        width: 90%;
    } 
}

.modal-overlay {
    background-color: transparentize(black, .5);
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 980;
        
    &.modal-is-visible {
        display: block;
        z-index: 1009;
    }
}

.modal-close{
    color: #fff;
    text-align: right;
    cursor: pointer;
    font-size: 28px;
    transition: all .5s ease 0s;
    
    &:hover{
        color: red;
    }
}
