.quote-section{
    @extend .video-section;
    width: 100%;
    margin-top: $block-margin;
}

.quote-section__icon{
    @extend .video-section__icon;
    background-color: $aqua; 
    padding: 10px 12px 0px 10px;
    width: 40px;
    box-sizing: border-box;
}

.quote-section__text{
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    color: $grey-darken;
    margin: 0;
    padding: 40px 100px 30px 45px;
    font-style: italic;
    width: calc(100% - 40px);
    box-sizing: border-box;
    
    @media (min-width: $sm) and (max-width: $md-1){
	    font-size: 22px;
        padding: 30px 100px 40px 45px;
    }
    
    @media (max-width: $sm-1) {
		font-size: 16px;
        line-height: 25px;
        padding: 40px 18px 30px 20px;
	}
}