@font-face{
	font-family: 'RobotoSlab-Regular';
	src: url("../font/RobotoSlab-Regular.ttf")
}

@font-face{
	font-family: 'RobotoSlab-Bold';
	src: url("../font/RobotoSlab-Bold.ttf")
}

@font-face{
	font-family: 'Montserrat-Regular';
	src: url("../font/Montserrat-Regular.ttf")
}

@font-face{
	font-family: 'Montserrat-Medium';
	src: url("../font/Montserrat-Medium.ttf")
}

@font-face{
	font-family: 'Monsterrat-Bold';
	src: url("../font/Montserrat-Bold.ttf")
}